@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: 'Spartan', sans-serif;
}

.destaque {
  color: #00ff3c;
}

destaque {
  color: #00ff3c;
}

.cab {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.btn-outline-light {
  margin-left: 10px;
}
